.knapp {
	border-radius: 12px;
	padding: 48px 24px;
	display: inline-block;
	margin-right: 5px;
	background-color: #e9806e;
}

#container {
	top: 45%;
	left: 25%;
	margin-top: -15px;
	margin-left: -100px;
	position: fixed;

}

#root {
	height: 100%;
	margin: 0;
	overflow: scroll;
}
