.knapp {
	border-radius: 12px;
	padding: 48px 24px;
	display: inline-block;
	margin-right: 5px;
	background-color: #e9806e;
	width: 200px;
}

#container2 {
	top: 60%;
	left: 42%;
	margin-top: -15px;
	margin-left: -100px;
	position: fixed;
}

#container {
	top: 45%;
	left: 35%;
	margin-top: -15px;
	margin-left: -100px;
	position: fixed;

}
#containerlogo {
		top: 15%;
		left: 49%;
		margin-top: -15px;
		margin-left: -100px;
		position: fixed;
		width: 350px;
}

#root {
	height: 100%;
	margin: 0;
	overflow: scroll;
}
