/*.list-group-2 {
  width: 400px;
}

.sykkel {
  width: 50px;
  float: right;
  margin-right: 50px;
}
.utstyr {
  width: 50px;
  margin-right: 50px;
  float: right;
}

.extra {
  width: 50px;
  margin-right: 50px;
  float: right;
}
#Videre {
  padding: 25px 55px;
  margin-left: 450px;
  color: green;
}*/
