#order-details-card {
    margin: 3%
}

#order-info {
    margin: 40px;
}

#equipment-info {
    margin: 40px;
}

#confirm-delivery {
    margin-top: 40px;
    height: 50%;
    width: 150%;
}

#confirm-delivery Button {
    margin-top: 20px;
    width: 100%;
    height: 50px;
}

#backToOverview {
    margin-left: 40px;
    height: 120%;
    width: 20%;
    background-color: #D3D3D3;
}

#delivered {
    margin-top: 40px;
    width: 100%;
    text-align: center;
    padding: 5%;
}

/*Order date*/
#order-date {
    margin: 5%;
}

#order-date h5 {
    font-size: 2em;
    margin-bottom: 2%;
}

.date-label {
    font-size: 1.4em;
    margin-top: 10%;
}

#order-date-input {
    margin-top: 5%;
}

#order-date-rent-hour h5 {
    font-size: 1.5em;
}

#order-date-back, #order-date-next {
    width: 100%;
    height: 100%;
    margin-top: 5%;
}


/*New Order Details*/
#redirect-customer, #redirect-equipment, #redirect-time {
    width: 100%;
    height: 120%;
    background-color: #D3D3D3;
}

#new-order-title {
    margin: 2%;
}

#new-order-info {
    margin: 5%;
}

#new-order-price {
    margin: 3%;
}

#new-equipment-info {
    margin: 2%;
}

#confirm-order-button {
    width: 100%;
    height: 120%;
}