#order-details-card {
    margin: 3%
}

#order-info {
    margin: 20px;
}

#equipment-info {
    margin: 40px;
}

#confirm-delivery {
    margin: 20%;
    height: 40%;
    width: 100%;
}

#backToOverview {
    margin: 20%;
    height: 20%;
    width: 80%;
}

#delivered {
    margin: 20%;
    height: 35%;
    width: 100%;
    text-align: center;
    padding: 5%;
}

#order-date {
    margin: 5%;
}

#order-date h5 {
    font-size: 2em;
    margin-bottom: 2%;
}

.date-label {
    font-size: 1.4em;
    margin-top: 10%;
}

#order-date-input {
    margin-top: 5%;
}

#order-date-rent-hour h5 {
    font-size: 1.5em;
}

#order-date-back, #order-date-next {
    width: 100%;
    height: 100%;
    margin-top: 5%;
}