@import url('http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.min.css');

.regDiv {
  margin-top: 10px;
}

#eqBack,
#bicycleBack,
#employeeBack {
  background-color: #d3d3d3;
}

#regButtons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#regBack {
  top: 40%;
  left: 10%;
  margin-top: -5px;
  margin-left: -15px;
  position: fixed;
  text-align: center;
}

.regBtn {
  border-radius: 12px;
  padding: 10px 27px;
  display: inline;
  margin-right: 5px;
  background-color: #e9806e;
}

.back {
  margin-top: 10px;
  margin-left: 10px;
}
